name: linker

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

jobs:
  link:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.10.0

        with:
          fail: true
          
